body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-3: #4b5be4;
  --clr-4: #646ee4;
  --clr-5: #8f76e4;
}

.card,
.card-border {
  border-radius: 1rem;
}

.card-border::before,
.card-border::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.card-border::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.card-border .btn-primary:disabled {
  background-color: #4338ca !important;
  border-color: #4338ca;
  cursor: not-allowed;
  opacity: 0.7;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shudder {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.fixed-alert {
  position: fixed;
  top: 20px;
  width: auto;
  max-width: 90%;
  z-index: 1000;
  padding: 1rem;
  animation: shudder 0.5s ease-in-out, fadeInOut 3s;
}

.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal::backdrop {
  backdrop-filter: blur(5px);
  overflow: hidden;
}
