@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper span {
  position: fixed;
  bottom: -80px;
  animation: animate 10s linear infinite;
  font-size: 60px;
  z-index: -1;
}

.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
}
.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
}
.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
}
.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
}
.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}
.content h2 {
  -webkit-text-fill-color: #111;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #111;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
  line-height: 0.7;
  letter-spacing: 2px;
}
.content h2 b {
  -webkit-text-fill-color: transparent;
  letter-spacing: normal;
  font-size: 45px;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
